In [27]:
import pandas as pd

In [28]:
file_name ='https://docs.google.com/spreadsheets/d/e/2PACX-1vSX7IQrG6UNyBk-08erUambZd5aBtzWjSbLPf_mWFag_91TBbi_YFlalhqNByIP7Y0HRg81F2Ov8Va5/pub?output=csv'
df=pd.read_csv(file_name)

In [29]:
df.head()

,id,name,id_2,startDay,startTime,endDay,endTime,Car,Hov2,Hov3,...,ableSec3AxlesDualTire,ableSec4AxlesDualTire,ableSec2AxlesTNC,ableSec2AxlesTNCPool,ableSec2AxlesTaxi,ableSec2AxlesTaxiPool,able22AxlesAuto,able23AxlesAuto,road,date
0,1040000,Montgomery,-1,Monday,5:00:00,Wednesday,10:00:00,1.40,1.40,1.40,...,-1,-1,-1,-1,-1,-1,6,1,Alabama River Parkway,########
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,1.40,1.40,1.40,...,-1,-1,-1,-1,-1,-1,6,1,Black Warrior Parkway,########
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,1.65,1.65,1.65,...,-1,-1,-1,-1,-1,-1,6,1,Emerald Mountain Expressway,########
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,2.75,2.75,2.75,...,-1,-1,-1,-1,-1,-1,6,2,Foley Beach Express,########
4,1530000,Antioch,-1,Saturday,0:00:00,Sunday,23:59:59,6.00,6.00,6.00,...,-1,-1,-1,-1,-1,-1,6,1,SR 160,########

In [30]:
new_df = df.copy()

In [31]:
 new_df.sort_values(by=['Hov2'], ascending=False)

,id,name,id_2,startDay,startTime,endDay,endTime,Car,Hov2,Hov3,...,ableSec3AxlesDualTire,ableSec4AxlesDualTire,ableSec2AxlesTNC,ableSec2AxlesTNCPool,ableSec2AxlesTaxi,ableSec2AxlesTaxiPool,able22AxlesAuto,able23AxlesAuto,road,date
6908,1031032,Highway,-1,Monday,5:00:00,Wednesday,10:00:00,75.19,75.19,75.19,...,-1,-1,-1,-1,-1,-1,6,1,ETR 407,########
6905,1031026,Highway,-1,Monday,19:00:00,Friday,23:59:59,74.11,74.11,74.11,...,-1,-1,-1,-1,-1,-1,6,1,ETR 407,########
6907,1031030,Darlington-Clarke,-1,Saturday,0:00:00,Sunday,23:59:59,73.69,73.69,73.69,...,-1,-1,-1,-1,-1,-1,6,1,ETR 407,########
6904,1031024,Highway,-1,Monday,15:00:00,Friday,19:00:00,72.86,72.86,72.86,...,-1,-1,-1,-1,-1,-1,6,2,ETR 407,########
6906,1031028,57/Bowmanville,-1,Saturday,0:00:00,Sunday,23:59:59,71.73,71.73,71.73,...,-1,-1,-1,-1,-1,-1,6,1,ETR 407,########
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,1165012,From,-1,Monday,0:00:00,Friday,5:00:00,-1.00,-1.00,-1.00,...,-1,-1,-1,-1,-1,-1,6,1,HOT US 59 South/ Southwest Freeway,########
2990,1165011,South,-1,Saturday,0:00:00,Sunday,23:59:59,-1.00,-1.00,-1.00,...,-1,-1,-1,-1,-1,-1,6,2,HOT US 59 South/ Southwest Freeway,########
2989,1165010,W.,-1,Monday,19:00:00,Friday,23:59:59,-1.00,-1.00,-1.00,...,-1,-1,-1,-1,-1,-1,6,2,HOT US 59 South/ Southwest Freeway,########
2497,1148000,From,-1,Monday,0:00:00,Friday,5:00:00,-1.00,-1.00,0.00,...,-1,-1,-1,-1,-1,-1,6,2,HOT US 290 / Northwest Freeway,########
2490,1148000,From,-1,Saturday,0:00:00,Sunday,23:59:59,-1.00,-1.00,0.00,...,-1,-1,-1,-1,-1,-1,6,2,HOT US 290 / Northwest Freeway,########

In [32]:
new_df.drop_duplicates(subset=['id', 'id_2'], keep='first', inplace=True)

In [33]:
new_df.sort_values(by=['id', 'id_2'], ascending=[True, True], inplace=True)

In [34]:
new_df.to_csv('task_1.csv', index=False)

In [35]:
new_df.head()

,id,name,id_2,startDay,startTime,endDay,endTime,Car,Hov2,Hov3,...,ableSec3AxlesDualTire,ableSec4AxlesDualTire,ableSec2AxlesTNC,ableSec2AxlesTNCPool,ableSec2AxlesTaxi,ableSec2AxlesTaxiPool,able22AxlesAuto,able23AxlesAuto,road,date
1408,1010000,Fargo-Moorhead,-1,Monday,19:00:00,Friday,23:59:59,-1.0,-1.0,-1.0,...,-1,-1,-1,-1,-1,-1,6,1,Fargo-Moorhead Toll Bridge,########
1407,1011000,International,-1,Monday,15:00:00,Friday,19:00:00,-1.0,-1.0,-1.0,...,-1,-1,-1,-1,-1,-1,6,2,International Falls / Fort Frances,########
1410,1012000,Bellevue,-1,Saturday,0:00:00,Sunday,23:59:59,-1.0,-1.0,-1.0,...,-1,-1,-1,-1,-1,-1,6,1,Bellevue Bridge,########
1411,1012002,Plattsmouth,-1,Monday,5:00:00,Wednesday,10:00:00,-1.0,-1.0,-1.0,...,-1,-1,-1,-1,-1,-1,6,1,Plattsmouth Bridge,########
1412,1013000,Valley,-1,Monday,10:00:00,Friday,15:00:00,-1.0,-1.0,-1.0,...,-1,-1,-1,-1,-1,-1,6,1,Valley of Fire Road,########